extends ../layout/main

block variables
	- var title = 'Главная'

block content
	include ../modules/wrapper
	.wrapper.wrapper--main.wrapper--green
		include ../modules/header
		include ../modules/about
		include ../modules/footer