extends ../layout/main

block variables
	- var title = 'Объекты'

block content
	// Обёртка для контента
	.wrapper.wrapper--object.wrapper--blue
		// Шапка
		include ../modules/header
		// Слайдер
		include ../modules/slider
		// Партнёры
		include ../modules/partners
		// Форма заказа
		include ../modules/order
		// Подвал
		include ../modules/footer