// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'


// Секции

/* Стили секции header */
@import 'section/header.styl'
/* Стили секции header */

/* Стили секции about */
@import 'section/about.styl'
/* Стили секции about */

/* Стили секции partners */
@import 'section/partners.styl'
/* Стили секции partners */

/* Стили секции object */
@import 'section/object.styl'
/* Стили секции object */

/* Стили секции footer */
@import 'section/footer.styl'
/* Стили секции footer */


// Компоненты
@import "common/common.styl"