.wrapper {
	height 100%
	min-height 650px
	display flex
	justify-content space-between
	flex-direction column
	padding-top rem(55px)
	padding-bottom rem(110px)
	position relative
	trs()
	transition-duration .5s
}

.wrapper--green {
	background url("../img/general/main-bg.jpg") center no-repeat
	background-size cover
}

.wrapper--blue {
	background url("../img/general/main-bg__2.jpg") center no-repeat
	background-size cover
	.menu__link:before {
		background blueColor
	}
	.footer__item--active {
		border-bottom-color: blueColor
	}
	.about__part:before {
		background blueColor 
	}
	.about__link:hover {
		color blueColor
	}
}