.about
	color white
	height 100%
	display flex
	align-items flex-end

.about__wrap
	display flex
	padding-left rem(40px)
	justify-content space-between
	@media(max-width: 1300px)
		padding-left rem(45px)
	@media(max-width: 480px)
		flex-direction column

.about__list
	position relative
	width 35%
	align-self center
	height: 240px;
	@media(max-width: 960px)
		width 55% 
	@media(max-width: 480px)
		width 100%
		margin-bottom 20px

.about__item
	position absolute
	bottom 0
	left 0
	opacity 0
	trs()
	transition-duration .5s

.about__item--active
	opacity 1

.about__title
	height 70px
	text-transform uppercase
	font-size rem(20px)
	font-weight 900
	width 20%
	line-height rem(30px)
	@media(max-width: 700px)
		height 50px
	@media(max-width: 480px)
		height 40px
		width 100%
		text-align center

.about__descr
	color black
	background rgba(white, .8)
	box-shadow 0px 0px 15px 1px rgba(#1a0205, .2)
	padding 20px 15px

.about__text
	margin-bottom rem(45px)
	line-height rem(30px)
	text-transform uppercase
	&:last-child
		margin-bottom 0


.about__info
	width 40%
	@media(max-width: 480px)
		width 100%
		text-align center

.about__contacts
	margin-bottom rem(100px)
	@media(max-width: 480px)
		margin-bottom rem(60px) 

.about__link
	font-size rem(28px)
	font-weight 900
	display block
	color white
	trs()
	&:hover
		color greenColor

.about__link--mail
	padding-left 10px
	margin-top 10px


.about__part
	display block
	text-transform uppercase
	font-size rem(20px)
	position relative
	width fit-content
	padding 7px 10px
	z-index 1
	&:before
		content ""
		width 0%
		height 100%
		position absolute
		top 0
		left 0
		background greenColor
		z-index -1
		transition all .5s linear
	@media(max-width: 480px)
		margin 0 auto


.about__part--animate
	&:before
		width 100%