.object
	height 100%
	display flex
	align-items flex-end
	.container
		padding-right rem(80px) 

.object__wrap
	position relative
	display flex
	margin-left rem(55px)
	margin-bottom rem(40px) 
	justify-content flex-end
	height 490px
	@media(max-width: 1300px)
		margin-left rem(45px)
	@media(max-height: 800px)
		height 450px

.object__pic
	position absolute
	top -15px
	left 80px
	z-index 5

.object__photo
	border 15px solid #fff
	height 525px
	display block
	opacity 0
	trs()
	transition-duration .4s
	@media(max-height: 800px)
		height 500px

.object__photo--active
	opacity 1

.object__descr
	width 100%
	overflow hidden

.object__content
	width 100%
	display flex
	height 100%
	trs()
	transition-duration .4s

.object__content--pic
	trs()
	transition-duration .4s

.object__item
	display flex
	justify-content flex-end
	height 100%
	min-width 100%
	background rgba(#fff, 0.8)

.object__inner
	width 55%
	padding-top rem(55px) 
	padding-bottom rem(55px)
	padding-left rem(150px)
	padding-right rem(80px) 
	color textColor
	background url("../img/general/map.jpg") right center no-repeat
	background-size cover
	z-index 1
	position relative
	&:before
		content ""
		display block
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		background rgba(#fff, 0.8)
		z-index -1 

.object__name
	font-size rem(20px)
	text-transform uppercase
	font-weight 900 
	display block
	margin-bottom rem(75px)

.object__text
	font-size 14px
	line-height 30px
	text-transform uppercase 
	margin-bottom rem(55px)

.object__link
	size(26px, 40px)
	display block
	background url("../img/general/icon-map.png") center no-repeat
	background-size cover
	margin 0 auto
	margin-bottom rem(65px)

.object__btn
	color white
	font-size 20px
	font-weight 900
	background greenColor
	padding 10px 20px
	cursor pointer
	display block 
	margin 0 auto
	trs()
	&:hover
		background darken(greenColor, 20%)


.object__arrow
	position absolute
	background none
	top 120%
	left 50%
	transform translateX(-50%)
	trs()
	cursor pointer
	&:hover
		transform translate(-50%, 10px)

.object__arrow--disabled
	opacity 0.5
	cursor default
	&:hover
		transform translateX(-50%)


.object__dots
	position absolute
	z-index 100
	right -55px
	top 40px

.object__dot
	display block
	size(16px)
	background greenColor 
	margin-bottom rem(65px)
	position relative
	cursor pointer
	trs()
	&:before
		content ''
		size(8px)
		trs()
		absolute-center()
		background white 
		opacity 0
	&:hover
		background darken(greenColor, 20%)

.object__dot--active
	&:before
		opacity 1