.partners
	position absolute
	top 0
	bottom 0
	background rgba(#fff, .8)
	padding 200px 40px 0
	right -270px
	z-index 105
	trs()

.partners--active
	left unset
	right 0

.partners__item
	margin-bottom 8px
	padding 5px 0
	&:last-child
		margin-bottom 0

.partners__link
	font-size 16px
	text-transform uppercase
	font-weight 800
	color #58595b
	padding 5px 0
	trs()
	&:hover
		color darken(#58595b, 40%)